:root {
  --primary-color: orange;
  --color-dark: #363636;
  --color-dark-light: #666666;
  --text-color: #eeeeee;
  --border-color: #eeeeee;
  --color-light: #eeeeee;
  --font-family: "Impact", cursive;
}
