:root {
    --primary-color: #e6973d;
    --background-color: #6522e2;
    --color-dark: #3f3f3f;
    --color-dark-light: #3b3b3b;
    --text-color: #ffffff;
    --border-color: #ffffff;
    --font-family: 'Impact', cursive;
}