.button{
    padding: 1rem 2rem;
    font-family: var(--font-family);
    text-align: center;
    border: .5rem solid var(--border-color);
    border-radius: 2rem;
    transition: all .5s ease;
    margin-bottom: 1rem;
    width: 300px;
    cursor: pointer;
    
    &:hover {
        background-color: var(--color-dark)!important;
        color: var(--text-color)!important;
    }
}