.button{
    padding: 1rem 2rem;
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: #fff;
    background-color: var(--color-dark);
    border-radius: 2rem;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
    width: 250px;
    cursor: pointer;
    
    &:hover {
        background-color: var(--color-dark-light);
    }
}