app-not-logged-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);

  .not-logged-modal-wrapper {
    position: fixed;
    background-color: var(--color-dark);
    color: var(--text-color);
    padding: 2rem;
    border: 0.5rem solid var(--border-color);
    border-radius: 1rem;
    font-size: 2rem;
    font-family: var(--font-family);
    text-align: center;
    max-width: 400px;

    .not-logged-modal-wrapper__title {
      font-size: 2rem;
      margin-bottom: 2rem;
      color: var(--primary-color);
    }
    .not-logged-modal-wrapper__text {
      font-size: 1.25rem;
      margin-bottom: 2rem;
    }
    .not-logged-modal-wrapper__buttons {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 400px) {
  app-not-logged-modal {
    .not-logged-modal-wrapper {
      .not-logged-modal-wrapper__content {
        .not-logged-modal-wrapper__buttons {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          
          app-button {
            .button {
              width: 150px !important;
              margin: 0 !important;
            }
          }
        }
      }
    }
  }
}
