app-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #fff;

  .login-wrapper {
    z-index: 3;

    .login-wrapper__title {
      background-color: var(--color-dark);
      font-family: var(--font-family);
      font-size: 2rem;
      color: var(--text-color);
      padding: 1rem 0;
      margin-bottom: 2rem;
      text-align: center;
      text-transform: uppercase;
      width: calc(100% + 4rem);
      margin-left: -2rem;
    }

    .login-wrapper__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .login-wrapper__form-group {
        width: 100%;
        margin-bottom: 1rem;
      }

      .login-wrapper__form-group__label {
        font-family: var(--font-family);
        font-size: 1.2rem;
        color: var(--color-dark);
        margin-bottom: 0.5rem;
        text-transform: uppercase;
      }

      .login-wrapper__form-group__input {
        width: 100%;
        padding: 0.5rem;
        border-bottom: 1px solid var(--color-dark);
      }

      .separator {
        width: 100%;
        height: 1px;
        background-color: var(--color-dark);
        margin: 1rem 0;
      }

      .login-wrapper__form-group__separator-text {
        font-family: var(--font-family);
        font-size: 1rem;
        color: var(--color-dark);
        margin: 1rem 0;
        text-align: center;
      }

      .login-wrapper__form-group__separator-text a {
        color: orange;
        text-decoration: underline;
        font-weight: light;
      }


      

      .login-wrapper__google {
        display: flex;
        align-items: center;
        padding: .5em 1em .5em .5em;
        border-radius: 3em;
        background-color: var(--color-dark);

        .google-icon {
          display: block;
        }

        .login-wrapper__google__text {
          font-family: var(--font-family);
          font-size: 1.2rem;
          color: var(--text-color);
        }

        &:hover {
          background-color: var(--color-dark-light);
          cursor: pointer;
        }
      }
    }
  }
}
