<app-animated-background></app-animated-background>

<div class="login-button">
    <button class="login-button__button" (click)="signInWithGoogle()">
        <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="Google"
            class="google-icon" width="30" height="30" />
        <span class="login-button__button__text">Connexion avec Google</span>
    </button>
</div>
@if(shouldDisplayUsernameModal){
<div class="username-modal">
    <form class="username-modal__form" [formGroup]="usernameForm">
        <h2 class="username-modal__title">Bienvenue sur World Flags</h2>
        <p class="username-modal__text">Il s'agit de votre première connexion, veuillez entrer un nom d'utilisateur</p>
        <input class="username-modal__form__input" type="text" formControlName="username" placeholder="saisissez votre nom d'utilisateur" />
        <app-button class="username-modal__form__button" buttonText="valider" mainColor="white" secondaryColor="orange" fontSize="1.25rem" width="100%" (click)="createUser()"></app-button>
    </form>
</div>
}