@use "./app/ui/styles/variables.scss" as *;
@use "./app/ui/styles/reset.scss" as *;
@use "./app/ui/styles/ocean-modal.scss" as *;
@use "./app/ui/features/login/login.component.scss" as *;
@use "./app/ui/features/homepage/homepage.component.scss" as *;
@use "./app/ui/features/quiz/quiz.component.scss" as *;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
