app-homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  padding: 1rem;

  #homepage__title {
    color: var(--text-color);
    text-align: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 5rem;
    text-align: center;
    background-color: var(--color-dark);
    padding: 2rem 4rem;
    border-top: 0.5rem solid var(--border-color);
    border-bottom: 0.5rem solid var(--border-color);
    height: min-content;
    text-transform: uppercase;
    z-index: 3;
    width: 100vw;
  }

  .homepage__user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 1.25rem;
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    z-index: 3;
    margin: 1rem;

    .homepage__username {
      margin-bottom: .5rem;
    }

    .homepage__best-score {

    }
  }



  #homepage__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

  .username-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--color-dark);
    background-color: rgba(0, 0, 0, 0.5);
    font-family: var(--font-family);

    .username-modal__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--color-dark);
      padding: 1rem;
      border-radius: 0.5rem;
      width: 350px;

      .username-modal__title {
        font-size: 1.5rem;
        color: orange;
        text-align: center;
        margin-bottom: 2rem;
      }

      .username-modal__text {
        font-size: 1rem;
        color: var(--text-color);
        text-align: center;
        margin-bottom: 2rem;
      }

      .username-modal__form__label {
        width: 100%;
        font-size: 1rem;
        color: orange;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }

      .username-modal__form__input {
        width: 100%;
        padding: 0.5em 1em;
        border-radius: 0.5em;
        border: 1px solid var(--border-color);
        color: var(--color-dark);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1rem;

        &::placeholder {
          color: rgb(220, 220, 220);
        }
      }
    }
  }
}


@media screen and (max-height: 800px) {
  #homepage__title {
    font-size: 3rem !important;
    margin-bottom: 2rem !important;
  }
}