<app-animated-background></app-animated-background>
<h1 id="homepage__title">World Flags</h1>
<div id="homepage__buttons">
    <app-button id="homepage__buttons__play" buttonText="Jouer" (click)="router.navigateByUrl('/launch')">Jouer</app-button>
    <app-button id="homepage__buttons__training" buttonText="Entrainement">Entrainement</app-button>
    <app-button id="homepage__buttons__ranking" buttonText="Classement">Classement</app-button>
    <app-button id="homepage__buttons__ranking" buttonText="Règles">Règles</app-button>
    <app-button id="homepage__buttons__login" buttonText="Connexion" mainColor="white" secondaryColor="orange">Connexion</app-button>
</div>