app-homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    width: 100vw;
    padding: 1rem;
    height: 100vh;

    #homepage__title {
        color: var(--text-color);
        text-align: center;
        margin-top: 20px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 4rem;
        text-align: center;
        background-color: var(--primary-color);
        padding: 2rem 4rem;
        border-radius: 4rem;
        border: .5rem solid var(--border-color);
        height: min-content;
    }


    #homepage__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }
}